<!--END THE PRIMARY PAGE CONTENT THAT GETS CALLED -->                
<!--START FOOTER-->           
                </td>
                <td width="240" valign="top">&nbsp;</td>
            </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td valign="top" height="71">
<!-- START LOWER FOOTER -->
<table id="Table_01" height="101" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="260" height="101" rowspan="2">
            <img src="themes/constant_green/images/footer/footer_leftside.png" width="260" height="101" alt="" /></td>
        <td width="100%" height="30" valign="top">
            &nbsp;</td>
        <td width="2" height="101" rowspan="2">
            <img src="themes/constant_green/images/footer/footer_right_side.png" width="2" height="101" alt="" /></td>
    </tr>
    <tr>
        <td width="100%" height="71" background="themes/constant_green/images/footer/footer_center.png">
            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                    <p align="center"><b>
                    <font class="copyright_text">Copyright &copy; 2011 Ikeycomm
                    <script type="text/javascript">
                    document.write('<br>Screen Resolution '+screen.width+'x'+screen.height);
                    </script></font></b></td>
                </tr>
                {$pagetime}
            </table>
        </td>
    </tr>
</table>
<!-- END LOWER FOOTER HTML-->
        </td>
    </tr>
</table>


<!--END OF FOOTER -->
</body>

</html>