{if $SCRIPT_NAME eq '/dashboard.php'
or $SCRIPT_NAME eq '/index.php'
or $SCRIPT_NAME eq '/messages.php'  
or $SCRIPT_NAME eq '/monitoring.php'
or $SCRIPT_NAME eq '/news.php' 
or $SCRIPT_NAME eq '/links.php' 
or $SCRIPT_NAME eq '/support.php' 
or $SCRIPT_NAME eq '/calendar.php' 
or $SCRIPT_NAME eq '/logout.php' 
}                                                                    
{assign var='nav_title' value='Home'}
<!--START URL ITEM LOOP -->
{foreach from=$home_links key=link_name item=url_value}
            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="20" height="20">
                    <img border="0" src="themes/constant_green/images/icons/arrow_rt_bullet.jpg" width="20" height="20"></td>
                    <td><a href="{$url_value}"><font size="2" face="verdana" color="#008000">{$link_name}</font></a></td>
                </tr>
            </table>
{/foreach}
<!--END URL ITEM LOOP-->

{/if}