            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="20" height="20">
                    <img border="0" src="themes/constant_green/images/icons/arrow_rt_bullet.jpg" width="20" height="20"></td>
                    <td><a href="{$value}"><font size="2" face="verdana" color="#008000">{$link}</font></a></td>
                </tr>
            </table>