

<!--START LIST VIEW COLUMN HEADER -->
<div><a href="plant_manager.php?context=Padd">
<img border="0" src="themes/constant_green/images/buttons/add_plant_button.png" width="180" height="50"></a></div>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td width="1">
		
		
<!-- START ACTION LV -->
<table id="Table_01" width="151" height="50" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="4" height="50" rowspan="2">
			<img src="themes/constant_green/images/data_grid_button/data_grid_button_leftside.png" width="4" height="50" alt="" /></td>
		<td width="132" height="50" rowspan="2" background="themes/constant_green/images/data_grid_button/data_grid_button_middle.png">
			<p align="center"><b><font face="Verdana" size="4" color="#FFFFFF">
			<a href="plants.php?context=list&sort=ID"><font color="#FFFFFF">Action</font></a></font></b></td>
		<td width="15" height="39">
			<img src="themes/constant_green/images/data_grid_button/data_grid_button_rightside.png" width="15" height="39" alt="" /></td>
	</tr>
	<tr>
		<td width="15" height="11">
			<a href="plants.php?context=list&sort=ID">
			<img src="themes/constant_green/images/data_grid_button/data_grid_button_sort_arrow_up.png" width="15" height="11" alt="" border="0" /></a></td>
	</tr>
</table>
<!-- END ACTION LV -->



		</td>
		
		<td width="1">
<!-- START name LV -->
<table id="Table_01" width="151" height="50" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="4" height="50" rowspan="2">
			<img src="themes/constant_green/images/data_grid_button/data_grid_button_leftside.png" width="4" height="50" alt="" /></td>
		<td width="132" height="50" rowspan="2" background="themes/constant_green/images/data_grid_button/data_grid_button_middle.png">
			<p align="center"><b><font face="Verdana" size="4" color="#FFFFFF">
			<a href="plants.php?context=list&sort=name"><font color="#FFFFFF">Name</font></a></font></b></td>
		<td width="15" height="39">
			<img src="themes/constant_green/images/data_grid_button/data_grid_button_rightside.png" width="15" height="39" alt="" /></td>
	</tr>
	<tr>
		<td width="15" height="11">
			<a href="plants.php?context=list&sort=name">
			<img src="themes/constant_green/images/data_grid_button/data_grid_button_sort_arrow.png" width="15" height="11" alt="" border="0" /></a></td>
	</tr>
</table>
<!-- END name LV -->
		</td>
		<td width="1"><!-- START location LV -->
<table id="Table_01" width="151" height="50" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="4" height="50" rowspan="2">
			<img src="themes/constant_green/images/data_grid_button/data_grid_button_leftside.png" width="4" height="50" alt="" /></td>
		<td width="132" height="50" rowspan="2" background="themes/constant_green/images/data_grid_button/data_grid_button_middle.png">
			<p align="center"><b><font face="Verdana" size="4" color="#FFFFFF">
			<a href="plants.php?context=list&sort=location">
			<font color="#FFFFFF">Location</font></a></font></b></td>
		<td width="15" height="39">
			<img src="themes/constant_green/images/data_grid_button/data_grid_button_rightside.png" width="15" height="39" alt="" /></td>
	</tr>
	<tr>
		<td width="15" height="11">
			<a href="plants.php?context=list&sort=location">
			<img src="themes/constant_green/images/data_grid_button/data_grid_button_sort_arrow.png" width="15" height="11" alt="" border="0" /></a></td>
	</tr>
</table>
<!-- END location LV --></td>
		<td width="1">
		<!-- START status LV -->
<table id="Table_01" width="151" height="50" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="4" height="50" rowspan="2">
			<img src="themes/constant_green/images/data_grid_button/data_grid_button_leftside.png" width="4" height="50" alt="" /></td>
		<td width="132" height="50" rowspan="2" background="themes/constant_green/images/data_grid_button/data_grid_button_middle.png">
			<p align="center"><b><font face="Verdana" size="4" color="#FFFFFF">
			<a href="plants.php?context=list&sort=status"><font color="#FFFFFF">Status</font></a></font></b></td>
		<td width="15" height="39">
			<img src="themes/constant_green/images/data_grid_button/data_grid_button_rightside.png" width="15" height="39" alt="" /></td>
	</tr>
	<tr>
		<td width="15" height="11">
			<a href="plants.php?context=list&sort=status">
			<img src="themes/constant_green/images/data_grid_button/data_grid_button_sort_arrow.png" width="15" height="11" alt="" border="0" /></a></td>
	</tr>
</table>
<!-- END status LV -->
		</td>
		<td width="100%">
		<!-- START gender LV -->
<table id="Table_01" width="151" height="50" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="4" height="50" rowspan="2">
			<img src="themes/constant_green/images/data_grid_button/data_grid_button_leftside.png" width="4" height="50" alt="" /></td>
		<td width="132" height="50" rowspan="2" background="themes/constant_green/images/data_grid_button/data_grid_button_middle.png">
			<p align="center"><b><font face="Verdana" size="4" color="#FFFFFF">
			<a href="plants.php?context=list&sort=dna_gender">
			<font color="#FFFFFF">Gender</font></a></font></b></td>
		<td width="15" height="39">
			<img src="themes/constant_green/images/data_grid_button/data_grid_button_rightside.png" width="15" height="39" alt="" /></td>
	</tr>
	<tr>
		<td width="15" height="11">
			<a href="plants.php?context=list&sort=dna_gender">
			<img src="themes/constant_green/images/data_grid_button/data_grid_button_sort_arrow.png" width="15" height="11" alt="" border="0" /></a></td>
	</tr>
</table>
<!-- END gender LV -->
		</td>
	</tr>

	<tr>
		<td><table border="0" width="100%" cellspacing="2" cellpadding="0">
		<tr>
			<td align="center">
			<a href="plant_manager.php?context=Pdelete&PLID='.$plant_ID.'">
			<img border="0" src="themes/constant_green/images/icons/actions/File-Delete-icon.png" width="26" height="26"></a></td>
			<td align="center">
			<a href="plant_manager.php?context=Pedit&PLID='.$plant_ID.'">
			<img border="0" src="themes/constant_green/images/icons/actions/Edit-Document-icon.png" width="26" height="26"></a></td>
			<td align="center">
			<a href="plant_manager.php?context=Pview&PLID='.$plant_ID.'">
			<img border="0" src="themes/constant_green/images/icons/actions/Preview-icon.png" width="26" height="26"></a></td>
		</tr>
		</table></td>
		<td>'.$plant_NAME.'</td>
		<td>'.$plant_LOC.'</td>
		<td>'.$plant_STATUS.'</td>
		<td>'.$plant_DNAGEN.'</td>
	</tr>
	
	
</table>
<!--END LV COLUMN HEADER -->

