.copyright_text{
    color: #FFFFFF;
    font: 12px/1 Verdana,Arial;
	font-weight:bold;
    text-align: center;
    
}
.page_gen{
    color: #FFFFFF;
    font: 10px/1 Arial,sans-serif;
    text-align: center;
    
}

.nav_menu_rtside{
	background-repeat: no-repeat;
	width: 29px;
	height: 333px;
}

.grid_header_text {  
        position: relative;   
        font-size: 16px;  
        margin-top: 0;  
        font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;  
        text-shadow: 2px 3px 3px #292929;  
        letter-spacing: 1px;  
        -webkit-text-stroke: 1px white;  
  
}

.grid_header_text_blur {  
        text-decoration: none;  
        color: #ffffff;  
          
  
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottombottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,1)));  
        text-shadow: 0 2px 0 #e9e9e9;  
        -webkit-transition: all .3s;  
        -moz-transition: all .3s;  
        transition: all .3s;  
}
	
.3d_item_listing {
  color: #ffffff;
  font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
  font-size: 16px;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  
}

.item_listing {
  color: #000000;
  font-weight:420;
  font-family: Verdana, helvetica, arial, sans-serif;
  font-size: 14px;
  position: relative;
  margin-top: 0;
}


  
  
 
  








