@media only screen and (orientation:portrait){
   /* portrait styles here */
   body {
      width:320px;
   }
    #wrap {
      width:320px;
   }
   .nav_menu_rtside{
	background-repeat: no-repeat;
	width: 29px;
	height: 333px;
}

.copyright_text{
    color: #FFFFFF;
    font: 12px/1 Verdana,Arial;
	font-weight:bold;
    text-align: center;
    
}
.page_gen{
    color: #FFFFFF;
    font: 10px/1 Arial,sans-serif;
    text-align: center;
    
}

}

@media only screen and (orientation:landscape){
   /* portrait styles here */
   body {
      width:480px;
   }
    #wrap {
      width:480px;
   }
   .nav_menu_rtside{
	background-repeat: no-repeat;
	width: 29px;
	height: 333px;
}
.copyright_text{
    color: #FFFFFF;
    font: 12px/1 Verdana,Arial;
	font-weight:bold;
    text-align: center;
    
}
.page_gen{
    color: #FFFFFF;
    font: 10px/1 Arial,sans-serif;
    text-align: center;
    
}

}

