@media only screen and (orientation:portrait){
   /* portrait styles here */
   body {
    margin:0 auto;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 568px;
            }
.container {
    margin:0 auto;  
    margin-left: auto;
    margin-right: auto;
	width:568px;

}
.credinputs{
   width: 326px;
   height: 38px;
   background-image:url(/themes/constant_green/images/loginui/login_dialog_uname-txt-field-bg.png);
   color : #747862;
   border:0;
   padding:4px 8px;
   margin-bottom:0px;
   font-family:Arial, Helvetica, sans-serif;
   font-weight:bolder;
   font-size:24px;

}
}
@media only screen and (orientation:landscape){
	   /* landscape styles here */
   body {
    margin:0 auto;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 568px;
            }
.container {
    margin:0 auto;  
    margin-left: auto;
    margin-right: auto;
	width:568px;

}
.credinputs{
   width: 326px;
   height: 38px;
   background-image:url(/themes/constant_green/images/loginui/login_dialog_uname-txt-field-bg.png);
   color : #747862;
   border:0;
   padding:4px 8px;
   margin-bottom:0px;
   font-family:Arial, Helvetica, sans-serif;
   font-weight:bolder;
   font-size:24px;

}
	
	
}
